// 阿里巴巴-普惠体-Regular
@font-face {
  font-family: 'inclusive-body-regular';
  font-display: swap;
  src: url('../assets/fonts/inclusive-body/webfont.eot'); /* IE9 */
  src: url('../assets/fonts/inclusive-body/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/inclusive-body/webfont.woff2') format('woff2'),
  url('../assets/fonts/inclusive-body/webfont.woff') format('woff'), /* chrome、firefox */
  url('../assets/fonts/inclusive-body/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../assets/fonts/inclusive-body/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

// 思源黑体-常规
@font-face {
  font-family: 'siyuan-black-body-conventional';
  font-display: swap;
  src: url('../assets/fonts/siyuan-black-body/webfont.eot'); /* IE9 */
  src: url('../assets/fonts/siyuan-black-body/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/siyuan-black-body/webfont.woff2') format('woff2'),
  url('../assets/fonts/siyuan-black-body/webfont.woff') format('woff'), /* chrome、firefox */
  url('../assets/fonts/siyuan-black-body/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../assets/fonts/siyuan-black-body/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

body, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tfoot, tr, td, th, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-bgc;
}

a {
  text-decoration: none;
  color: $main-color;
}

.svg-icon {
  color: $main-color;
  font-size: 16px;
}

#nprogress {

  .bar {
    background-color: $main-color !important;
  }

  .peg {
    box-shadow: 0 0 10px $main-color, 0 0 5px $main-color !important;
  }

  .spinner-icon {
    border-top-color: $main-color !important;
    border-left-color: $main-color !important;
  }
}

.el-overlay {
  backdrop-filter: blur(2px);
}

.el-overlay-dialog {
  overflow: hidden !important;
}

/* 电子围栏 - 地图关键字搜索 */
.search-map-select {
  width: 260px;

  .el-select-dropdown__item {
    height: 68px !important;
  }

  .address {
    display: flex;
    flex-direction: column;

    .address-top {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .address-bottom {
      color: #8492a6;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
