html {

  body {
    font-size: $main-size;
    font-weight: 400;
    color: $main-text-color;
    letter-spacing: .1px;
    background-color: $main-bgc;
  }

  body,
  #cv-admin,
  #app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

//body {
//  @include bgColor();
//}

.global-settings {
  width: 16vw !important;

  .el-select {
    width: 100%;
  }
}
