.sidebar {
  height: 100%;

  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  .sidebar-container {

    .sidebar-menu {
      border-right: none;
      background-color: $sidebar-bgc;

      .svg-icon {
        color: $sidebar-icon-color;
      }

      .el-menu-item {
        position: relative;
        color: $sidebar-text-color;
        border-left: 4px solid transparent;
      }

      .el-menu-item:is(.is-active) {
        color: $sidebar-text-active-color;
        background-color: $sidebar-menu-item-bgc-active;
        border-color: $sidebar-menu-item-border-active;
      }

      .el-sub-menu {

        .el-sub-menu__title {}

        .el-menu {
          background-color: $sidebar-menu-group-bgc;
        }
      }


      & > .el-menu-item:hover {
        color: $sidebar-text-hover-color;
        background-color: $sidebar-active-bgc;

        .svg-icon {
          color: $sidebar-icon-hover-color;
        }
      }

      & > .el-sub-menu {

        & > .el-sub-menu__title {
          color: $sidebar-text-color;
        }

        & > .el-sub-menu__title:hover {
          background-color: $sidebar-menu-group-hover-color;
        }

        & > .el-menu {
          //padding: 10px 0;
          //box-shadow: inset 0 0 19px -7px #000;

          .el-menu-item-group {

            .el-menu-item-group__title {
              display: none;
            }

            .el-menu-item {
              height: $sidebar-hei;
              line-height: $sidebar-hei;
            }

            .el-menu-item.is-active {
              //color: $sidebar-text-color;
            }

            .el-menu-item:hover {
              color: $sidebar-text-hover-color;
              background-color: $sidebar-hover-bgc;
            }
          }
        }
      }
    }
  }
}

.layout:not(.collapse-open) {
  .svg-icon {
    margin-right: 0;
  }

  .sidebar-menu {

    .el-sub-menu__title,
    .el-menu-item .el-menu-tooltip__trigger {
      justify-content: center;
    }
  }
}

.layout:not(.collapse-close) {
  .svg-icon {
    margin-right: 8px;
  }
}
