/**
 * 公共变量，更多色彩搭配请参考下面的链接
 * @link https://colorhunt.co/palette/2b2e4ae8454590374953354a
 */
@use "element" as *;

$main-padding: 12px;
$main-interval: 12px;
$main-size: 16px;
$main-text-color: var(--el-text-color-primary);
$main-bgc: #EBECF0;
$main-color: var(--el-color-primary, #E84545);
$secondary-color: #E84545;
$main-bgc: var(--el-bg-color);
$cv-main-border-radius: 2px;
$cv-box-shadow: var(--el-box-shadow);
$cv-box-shadow-dark: var(--el-box-shadow-dark);

$cv-fill-color-light: #272C34;

// header
$header-hei: 52px;
$header-bgc: #272C34;
$operation-hei: 52px;

// sidebar
$sidebar-width: 260px;
$sidebar-sm-width: 64px;
$sidebar-hei: 56px;
$sidebar-bgc: #272C34;
$sidebar-text-color: #FFF;
$sidebar-text-hover-color: #FFF;
$sidebar-icon-color: #FFF;
$sidebar-icon-active-color: #FFF;
$sidebar-icon-hover-color: #FFF;
$sidebar-hover-bgc: var(--el-color-primary);
$sidebar-active-bgc: var(--el-color-primary);
$sidebar-menu-group-color: var(--el-menu-bg-color);
$sidebar-menu-hover-bg-color: var(--el-menu-hover-bg-color);
$sidebar-menu-item-hover-color: #FFF;
$sidebar-menu-group-item-hover-color: #FFF;
$sidebar-menu-item-bgc-active: var(--el-color-primary);
$sidebar-menu-item-border-active: var(--el-color-primary-light-7);

// tagsView
$tags-view-hei: 44px;
$tags-view-item-hei: 32px;
$tags-view-bgc: #FFF;
$tags-view-icon-color: #FFF;
$tag-light-color: #333;
$tag-dark-color: #FFF;
$tag-light-active-color: var(--el-color-primary);
$tag-dark-active-color: #FFF;
$tag-light-bgc: #FFF;
$tag-dark-bgc: #FFF;
$tag-light-active-bgc: var(--el-color-primary-light-8);
$tag-dark-active-bgc: var(--el-color-primary-dark-2);
$tag-light-active-border-col: var(--el-color-primary);
$tag-dark-active-border-col: #FFF;

$theme-name: null;
$theme-map: null;

$themes: (
  light: (
    bgc: #EBECF0,
    color: #2B2E4A
  ),
  dark: (
    bgc: #171717,
    color: #d4d4d5
  )
);

@mixin themeIfy() {
  @each $item-name, $item-list in $themes {
    $theme-name: $item-name !global;
    $theme-map: $item-list !global;
    [class="#{$theme-name}"] & {
      @content
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@function color($key) {
  @return map-get($colors, $key, 'base')
}

@mixin bgColor() {
  @include themeIfy() {
    background-color: themed('bgc');
  }
}
