@use "element" as *;

/**
 * 公共变量，更多色彩搭配请参考下面的链接
 * @link https://colorhunt.co/palette/2b2e4ae8454590374953354a
 */
$main-padding: 12px;
$main-interval: 12px;
$main-size: 16px;
$main-text-color: var(--el-text-color-primary);
$main-bgc: var(--el-bg-color);
$main-color: var(--el-color-primary, #E84545);
$secondary-color: #E84545;

$cv-fill-color-light: var(--el-fill-color-light, #E0E0E0);

// header
$header-hei: 52px;
$header-bgc: #FFF;
$operation-hei: 52px;

// sidebar
$sidebar-width: 260px;
$sidebar-sm-width: 64px;
$sidebar-hei: 56px;
$sidebar-bgc: #FFF;
$sidebar-text-color: #FFF;
$sidebar-menu-group-color: #FFF;
$sidebar-menu-item-hover-color: #FFF;
$sidebar-menu-group-item-hover-color: #FFF;

// tagsView
$tags-view-hei: 44px;

$theme-name: null;
$theme-map: null;

$themes: (
  light: (
    bgc: #EBECF0,
    color: #2B2E4A
  ),
  dark: (
    bgc: #171717,
    color: #d4d4d5
  )
);

@mixin themeIfy() {
  @each $item-name, $item-list in $themes {
    $theme-name: $item-name !global;
    $theme-map: $item-list !global;
    [class="#{$theme-name}"] & {
      @content
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@function color($key) {
  @return map-get($colors, $key, 'base')
}

@mixin bgColor() {
  @include themeIfy() {
    background-color: themed('bgc');
  }
}
